/* Login.css */

.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    animation: fadeIn 0.5s ease; /* Fade-in animation */
  }
  
  .login h1 {
    text-align: center;
    color: #333;
  }
  
  .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
  }
  
  .login input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .login p {
    text-align: center;
    font-size: 16px;
  }
  
  
.login form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login a {
    text-align: center;
    text-decoration: none;
    color: #fff; /* Change text color to white */
    background-color: #007bff; /* Change button background color */
    padding: 10px 20px; /* Increase padding for a larger button */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 20px; /* Add margin to center the button vertically */
  }
  
  .login a:hover {
    background-color: #0056b3; /* Change button background color on hover */
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  }
  /* Keyframe animation for fade-in effect */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  